


/* our services heading ------>>>   */

.s-title{
	font-size: 140% !important;
	text-align: center;
	font-weight: 500 !important;
	/*margin-top: 15% !important;*/
}

.os-title{
	
	text-align: center;
	font-weight: 700 !important;
	color: white !important;
	padding-top: 40px;
	padding-bottom: 3%;
}
/*   
   arrows code start from here
        */

.tag {
        float:left;
        padding:10px 20px 10px 20px;
        padding-right:5px;
        position:relative;
        background:#BFC9D9;
        width:auto;
        display:table;
        margin-right:0px;
        margin-left:30px;
        text-align:center;
        border-top-right-radius:2px;
        border-bottom-right-radius:2px;
        margin-top:3px;
        margin-bottom:3px;
    }

.tag1::after {
    right: -30%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 20px;
    width: 0px;
    position: absolute;
    border-right-color: #BFC9D9;
    border-width: 22px;
    margin-top: -22px;
    transform: rotate(180deg);
}

.tag:before { 
    content: " "; 
    position: absolute;
    bottom: 0;
    left: -20px;
    border-left: 22px solid transparent;
    border-right: 0px solid #BFC9D9;
    border-top: 22px solid #BFC9D9;
    border-bottom: 22px solid #BFC9D9;
}

/* arrows design code end */

.hww{
    padding-top: 10px;
    color: white !important;
}

.dt-security{
    width: 100%;
    height: 90%;
}

#why-us .title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;

}
#why-us .title a{
    color: black;
}
#why-us .box:hover .title a {
  color: #18d26e;
}

#why-us .icon{
    text-align: center;
    margin-top: 15px;
}

#why-us .description{
    text-align: center;
}

.col-bg{
    background-color: #18d26e;
    color: white;
}
.col-bg .title a{
    color: white !important;
    text-align: center;
}

.w-u-1:after {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: 100%;
    top: 50%;
    z-index: -1;
}

.w-u-2:before {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: -65px;
    top: 50%;
    z-index: -1;
}
.w-u-3:after {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: 70%;
    top: 0;
    z-index: -1;
    transform: rotate(-45deg);
}
.w-u-4:before {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: 20px;
    top: 0;
    z-index: -1;
    transform: rotate(45deg);
}
.w-u-5:after {
    content: "";
    position: absolute;
    border: 1px dashed #18d26e;
    height: 55px;
    left: 50%;
    width: 1px;
    bottom: 100%;
    top: auto;
}

.w-u-btrow{
    margin-top: 80px;
}

@media (max-width: 767.98px) {
.w-u-5:after{
    display: none;
}
.w-u-4:before{
    display: none;
}
.w-u-3:after{
    display: none;
}
.w-u-2:before{
    display: none;
}
.w-u-1:after{
    display: none;
}
.w-u-btrow{
    margin-top: 0px;
}

}

#why-us .icon i{
    font-size: 70px;
    padding-bottom: 15px;
    color: #18d26e;
}
.col-bg .icon i{
    color: white !important;
}
#why-us{
    padding-top: 70px;
}

#h-w-work .icon i{
    font-size: 70px;
    padding-bottom: 15px;
    color: #18d26e;
}

#intro:after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 2px;
    background: #18d26e;
    bottom: 1px;
    margin-left: 10%;
    z-index: 10;
}

/* Nav Meu Styling */

.nav-menu i {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    font-style: inherit;
}

.nav-menu i:hover {
  color: #18d26e;
  cursor: pointer;
  transition-duration: 0.5s;

}
#mobile-nav ul li i {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#mobile-nav ul li i:hover {
  color: #18d26e;
  cursor: pointer;
  transition-duration: inherit;
  transition-timing-function: 0.5s ease-out;
  transition-property: inherit;
}
/* Nav Meu style end */

/* Contact us block */
#contactForm {
    z-index: 10000;
    display: none;
    border: 6px solid #18d26e;
    padding: 2em;
    width: 400px;
    text-align: center;
    background-image: linear-gradient(15deg, black 15%, #00a6ff 50%, blue 75%, #ff45b8 100%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.c-form h2, .c-form small{
color: white;
}

.c-form input{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 40px;
}

.c-form textarea{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 100px;
}
.btn-g1{
    background-color: #18d26e;
    color: white;
    width: 50%;
}
.btn-g{
    width: 100%;
    margin-top: 15px;
    margin-right: -10px;
    margin-left: 0px;
}
.btn-g1:hover{
    background-color: white;
    color: black;
    border: 2px solid #18d26e;
}

#contactForm i{
    color: white;
    font-size: 2em;
    margin-right: -15px;
    margin-top: -15px;
}
@media (max-width: 439.98px){
    #contactForm{
        width: 300px;
    }
}
@media (max-width: 330.98px){
    #contactForm{
        width: 250px;
    }
    .c-form input{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 35px;
}
}

.service-active{
    color: #18d26e !important;
}

/* about */

.about-col a{
    padding-top: 0px;
}
.n-tabs a{
    padding: 10px 10px 10px 10px;
    background-color: #18d26e;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
   

}
.n-tabs{
     margin-bottom: 50px;
     align-self: center;
}


.a-tab h2{
    font-weight: 700;
    padding-top: 40px;
    color: black;
}
.a-tab p{
    color: #4c5258;
    font-size: 15px;
}

/*  services  */
    #clients .owl-nav, #clients .owl-dots{
        top: 35px;
        z-index: 500;
        position: absolute;

    }
    #clients .owl-nav, #clients .owl-dots .owl-dot{
        height: 30px;
        width: 30px;
        border: 3px solid #4c5258;
        background-color: white;
        margin-left: 7px;
    }
    body{
        counter-reset: dots;
    }

    #clients .owl-nav, #clients .owl-dots .owl-dot:before {
    counter-increment: dots;
    content: counter(dots);
    color: #4c5258;
    margin-left: 7px;
    }

    #clients .owl-dot:after {
    content: "-";
    position: relative;
    right: -10px;
    font-weight: 800;
    margin-left: 5px;
    }

    #clients .owl-nav, #clients .owl-dots .owl-dot.active{
        height: 35px;
        width: 35px;
        border: 3px solid #18d26e;
        background-color: white;
        margin-left: 7px;
        margin-top: 5px;
    }

    #clients .owl-nav, #clients .owl-dots .owl-dot.active:before {
    counter-increment: dots;
    content: counter(dots);
    color: #18d26e;
    margin-left: 7px;
    font-size: 18px;
    }

    #clients .owl-dots:after {
    content: "--";
    position: relative;
    right: 9px;
    font-weight: 1000;
    margin-left: 5px;
    letter-spacing: -1px;
    color: white;
    }

    /* our coverage/features section */

    #coverage{
        background-image: linear-gradient(90deg, #baffda 15%, white 50%, #baffda 100%);
    }
    #coverage .c-box .card-col h5{
        color: black;
        font-weight: 700;
    }
    #coverage .c-box .c-icon{
        font-size: 60px;
        color: #18d26e;
    }
    #coverage header{
        padding-top: 40px;
    }


    /* FAQ */

    .accordion a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding: 1rem 3rem 1rem 1rem;
      color: #7288a2;
      font-size: 1.15rem;
      font-weight: 400;
      border-bottom: 1px solid #e5e5e5;
    }
    .accordion a:hover,
    .accordion a:hover::after {
      cursor: pointer;
      color: #ff5353;
    }
    .accordion a:hover::after {
      border: 1px solid #ff5353;
    }
    .accordion a.active {
      color: #ff5353;
      border-bottom: 1px solid #ff5353;
    }
    .accordion a::after {
      font-family: 'Ionicons';
      content: '\f218';
      position: absolute;
      float: right;
      right: 1rem;
      font-size: 1rem;
      color: #7288a2;
      padding: 5px;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #7288a2;
      text-align: center;
    }
    .accordion a.active::after {
      font-family: 'Ionicons';
      content: '\f209';
      color: #ff5353;
      border: 1px solid #ff5353;
    }
    .accordion .content {
      opacity: 0;
      padding: 0 1rem;
      max-height: 0;
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      clear: both;
      -webkit-transition: all 0.2s ease 0.15s;
      -o-transition: all 0.2s ease 0.15s;
      transition: all 0.2s ease 0.15s;
    }
    .accordion .content p {
      font-size: 1rem;
      font-weight: 300;
    }
    .accordion .content.active {
      opacity: 1;
      padding: 1rem;
      max-height: 100%;
      -webkit-transition: all 0.35s ease 0.15s;
      -o-transition: all 0.35s ease 0.15s;
      transition: all 0.35s ease 0.15s;
    }

    #FAQ .section-header h3{
        padding-top: 40px;
        text-transform: capitalize !important;
        font-weight: 500;
    }

    /* termCondition block */
#termCondition {
    z-index: 10000;
    display: none;
    
    padding-top: 10px;
    padding-bottom: 5px;
    width: 80vw;
    text-align: center;
    background-image: linear-gradient(90deg, #18d26e 15%, white 50%, #18d26e 100%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
#terms-pane { 
    width:100%; 
    height:70vh; 
    overflow:scroll; 
    border:1px solid #ccc; 
    background:#eee; 
    margin:5px 0; 
    padding:10px 20px; 
}

#termCondition i{
    margin-top: -5px;
    color: black;
    display: inline-block;
    position: relative;
    font-size: 30px;
}
