


/* our services heading ------>>>   */

.s-title{
	font-size: 140% !important;
	text-align: center;
	font-weight: 500 !important;
	/*margin-top: 15% !important;*/
}

.os-title{
	
	text-align: center;
	font-weight: 700 !important;
	color: white !important;
	padding-top: 40px;
	padding-bottom: 3%;
}
/*   
   arrows code start from here
        */

.tag {
        float:left;
        padding:10px 20px 10px 20px;
        padding-right:5px;
        position:relative;
        background:#BFC9D9;
        width:auto;
        display:table;
        margin-right:0px;
        margin-left:30px;
        text-align:center;
        border-top-right-radius:2px;
        border-bottom-right-radius:2px;
        margin-top:3px;
        margin-bottom:3px;
    }

.tag1::after {
    right: -30%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 20px;
    width: 0px;
    position: absolute;
    border-right-color: #BFC9D9;
    border-width: 22px;
    margin-top: -22px;
    transform: rotate(180deg);
}

.tag:before { 
    content: " "; 
    position: absolute;
    bottom: 0;
    left: -20px;
    border-left: 22px solid transparent;
    border-right: 0px solid #BFC9D9;
    border-top: 22px solid #BFC9D9;
    border-bottom: 22px solid #BFC9D9;
}

/* arrows design code end */

.hww{
    padding-top: 10px;
    color: white !important;
}

.dt-security{
    width: 100%;
    height: 90%;
}

#why-us .title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;

}
#why-us .title a{
    color: black;
}
#why-us .box:hover .title a {
  color: #18d26e;
}

#why-us .icon{
    text-align: center;
    margin-top: 15px;
}

#why-us .description{
    text-align: center;
}

.col-bg{
    background-color: #18d26e;
    color: white;
}
.col-bg .title a{
    color: white !important;
    text-align: center;
}

.w-u-1:after {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: 100%;
    top: 50%;
    z-index: -1;
}

.w-u-2:before {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: -65px;
    top: 50%;
    z-index: -1;
}
.w-u-3:after {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: 70%;
    top: 0;
    z-index: -1;
    transform: rotate(-45deg);
}
.w-u-4:before {
    content: "";
    position: absolute;
    width: 70px;
    border: 1px dashed #18d26e;
    left: 20px;
    top: 0;
    z-index: -1;
    transform: rotate(45deg);
}
.w-u-5:after {
    content: "";
    position: absolute;
    border: 1px dashed #18d26e;
    height: 55px;
    left: 50%;
    width: 1px;
    bottom: 100%;
    top: auto;
}

.w-u-btrow{
    margin-top: 80px;
}

@media (max-width: 767.98px) {
.w-u-5:after{
    display: none;
}
.w-u-4:before{
    display: none;
}
.w-u-3:after{
    display: none;
}
.w-u-2:before{
    display: none;
}
.w-u-1:after{
    display: none;
}
.w-u-btrow{
    margin-top: 0px;
}

}

#why-us .icon i{
    font-size: 70px;
    padding-bottom: 15px;
    color: #18d26e;
}
.col-bg .icon i{
    color: white !important;
}
#why-us{
    padding-top: 70px;
}

#h-w-work .icon i{
    font-size: 70px;
    padding-bottom: 15px;
    color: #18d26e;
}

#intro:after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 2px;
    background: #18d26e;
    bottom: 1px;
    margin-left: 10%;
    z-index: 10;
}

/* Nav Meu Styling */

.nav-menu i {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    font-style: inherit;
}

.nav-menu i:hover {
  color: #18d26e;
  cursor: pointer;
  transition-duration: 0.5s;

}
#mobile-nav ul li i {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#mobile-nav ul li i:hover {
  color: #18d26e;
  cursor: pointer;
  transition-duration: inherit;
  transition-timing-function: 0.5s ease-out;
  transition-property: inherit;
}
/* Nav Meu style end */

/* Contact us block */
#contactForm {
    z-index: 10000;
    display: none;
    border: 6px solid #18d26e;
    padding: 2em;
    width: 400px;
    text-align: center;
    background-image: linear-gradient(15deg, black 15%, #00a6ff 50%, blue 75%, #ff45b8 100%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.c-form h2, .c-form small{
color: white;
}

.c-form input{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 40px;
}

.c-form textarea{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 100px;
}
.btn-g1{
    background-color: #18d26e;
    color: white;
    width: 50%;
}
.btn-g{
    width: 100%;
    margin-top: 15px;
    margin-right: -10px;
    margin-left: 0px;
}
.btn-g1:hover{
    background-color: white;
    color: black;
    border: 2px solid #18d26e;
}

#contactForm i{
    color: white;
    font-size: 2em;
    margin-right: -15px;
    margin-top: -15px;
}
@media (max-width: 439.98px){
    #contactForm{
        width: 300px;
    }
}
@media (max-width: 330.98px){
    #contactForm{
        width: 250px;
    }
    .c-form input{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 35px;
}
}