


/* our services heading ------>>>   */

.s-title{
	font-size: 140% !important;
	text-align: center;
	font-weight: 500 !important;
	/*margin-top: 15% !important;*/
}

.os-title{
	
	text-align: center;
	font-weight: 700 !important;
	color: white !important;
	padding-top: 40px;
	padding-bottom: 3%;
}
/*   
   arrows code start from here
        */

.tag {
        float:left;
        padding:10px 20px 10px 20px;
        padding-right:5px;
        position:relative;
        background:#BFC9D9;
        width:auto;
        display:table;
        margin-right:0px;
        margin-left:30px;
        text-align:center;
        border-top-right-radius:2px;
        border-bottom-right-radius:2px;
        margin-top:3px;
        margin-bottom:3px;
    }

.tag1::after {
    right: -30%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 20px;
    width: 0px;
    position: absolute;
    border-right-color: #BFC9D9;
    border-width: 22px;
    margin-top: -22px;
    transform: rotate(180deg);
}

.tag:before { 
    content: " "; 
    position: absolute;
    bottom: 0;
    left: -20px;
    border-left: 22px solid transparent;
    border-right: 0px solid #BFC9D9;
    border-top: 22px solid #BFC9D9;
    border-bottom: 22px solid #BFC9D9;
}

/* arrows design code end */

.hww{
    padding-top: 10px;
    color: white !important;
}

.dt-security{
    width: 100%;
    height: 90%;
}
