


/* our services heading ------>>>   */

.s-title{
	font-size: 140% !important;
	text-align: center;
	font-weight: 500 !important;
	/*margin-top: 15% !important;*/
}

.os-title{
	
	text-align: center;
	font-weight: 700 !important;
	color: white !important;
	padding-top: 40px;
	padding-bottom: 3%;
}

.city{
	margin-top: 15px;
}

.arrow-button{
	
}

.tag {
        float:left;
        padding-bottom:2px;
        padding-right:5px;
        position:relative;
        background:#BFC9D9;
        width:auto;
        display:table;
        margin-right:0px;
        margin-left:50px;
        text-align:center;
        border-top-right-radius:2px;
        border-bottom-right-radius:2px;
        margin-top:3px;
        margin-bottom:3px;
    }