.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    width: 100%;
    
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 33.333%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
    background-color: #18d26e;
    transition-duration: 0.5s;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}